# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Conda 环境
envs/
*.tar.gz

# 构建产物（不提交大文件）
dist/*.tar.gz
dist/*.lock

# IDE
.vscode/
.idea/
*.swp
*.swo

# 临时文件
*.tmp
*.log
*.bak

# 系统文件
.DS_Store
Thumbs.db

